body {
  background: url('./images/questionMarkPortrait.png') no-repeat center fixed;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', serif, monospace;
  font-size: 3rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.answerSpan {
  flex: 1;
  justify-content: 'center';
  align-items: 'center';
}

.button {
  background-color: indigo;
  border: red 3px groove;
  border-radius: 100px;
  color: #eef518;
  font-size: 1.5rem;
  height: 3rem;
  text-shadow: 0 0 12px red;
}

.button:hover {
  background-color: #eef518;
  color: indigo;
}

.button:disabled {
  background-color: transparent;
  color: red;
}

.centered {
  color: indigo;
  text-align: center;
  text-shadow: 0 0 12px #eef518;
}

.container {
  border: red 6px groove;
  border-radius: 100px;
  overflow: auto;
  padding-bottom: 50px;
}

.grid {
  align-content: center;
  display: grid;
  grid-template-areas: 'answerOne';
  justify-content: space-around;
}

.grid2 {
  align-content: center;
  display: grid;
  grid-template-areas: 'one';
  justify-content: center;
  margin: 10;
}

.navbar {
  background-color: rebeccapurple;
  border: red 6px groove;
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  text-shadow: 0 0 12px #eef518;
  width: auto;
}

.navbar,
a {
  color: red;
  font-size: 3rem;
  text-decoration: none;
}

.pBackground {
  /* border  forestgreen ferngreen green kellygreen seagreen shamrockgreen viridian*/
  background-color: #40826d;
  border: red 3px groove;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
