body {
  background: url('./images/questionMarkPortrait.png') no-repeat center fixed;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', serif, monospace;
  font-size: 3rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.answerSpan {
  flex: 1;
  justify-content: 'center';
  align-items: 'center';
}

.button {
  background-color: indigo;
  border: red 3px groove;
  border-radius: 100px;
  color: #eef518;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  text-shadow: 0 0 12px red;
}

.button:hover {
  background-color: #eef518;
  color: indigo;
}

.button:disabled {
  background-color: transparent;
  color: red;
}

.centered {
  color: indigo;
  margin-top: 350px;
  text-align: center;
  text-shadow: 0 0 12px #eef518;
}

.container {
  border: red 6px groove;
  border-radius: 100px;
  overflow: auto;
  padding-bottom: 50px;
}

.grid {
  align-content: center;
  display: grid;
  grid-template-areas: 'answerOne';
  justify-content: space-around;
}

.grid2 {
  align-content: center;
  display: grid;
  grid-template-areas: 'one';
  justify-content: center;
  margin: 10;
}

.navbar {
  background-color: lavenderblush;
  border: red 6px groove;
  /* border-radius: 100px; */
  display: flex;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  text-shadow: 0 0 12px #eef518;
  width: auto;
  z-index: 20;
}

.navbar,
a {
  font-size: 3rem;
}

.nav-container {
  align-items: center;
  display: flex;
  height: 80px;
  max-width: 1500px;
  width: 100%;
}

.nav-logo {
  cursor: pointer;
  flex-grow: 1;
  font-size: 2rem;
  left: 6%;
  text-decoration: none;
  top: 7%;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  left: 20%;
  list-style: none;
  margin-left: 2rem;
  position: relative;
  text-align: center;
}

.nav-links {
  border-bottom: 3px solid transparent;
  color: indigo;
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-links:hover {
  color: #40826d;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  background: transparent;
  content: '';
  display: block;
  height: 3px;
  transition: width 0.7s ease, background-color 0.5s ease;
  width: 0;
}

.nav-item:hover:after {
  background: #40826d;
  width: 100%;
}

.nav-item .active {
  border: 1px solid #eef518;
  color: #40826d;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1850px) {
  .nav-menu {
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    left: -110%;
    opacity: 1;
    position: absolute;
    top: 80px;
    transition: all 0.5s ease;
    width: 100%;
  }

  .nav-menu.active {
    background: lavenderblush;
    left: -7%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    border: none;
  }
  .nav-links {
    display: table;
    padding: 1.5rem;
    width: 100%;
  }

  .nav-icon {
    color: #40826d;
    cursor: pointer;
    display: block;
    font-size: 1.8rem;
    position: absolute;
    right: 1%;
    top: 10%;
    transform: translate(-100%, 60%);
  }

  .nav-logo {
    display: block;
    position: absolute;
  }
}

@media screen and (max-width: 480px) {
  .nav-menu {
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    left: -110%;
    opacity: 1;
    position: absolute;
    top: 80px;
    transition: all 0.5s ease;
    width: 100%;
  }

  .nav-menu.active {
    background: indigo;
    left: -7%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    border: none;
    color: #eef518;
  }
  .nav-links {
    display: table;
    padding: 1.5rem;
    width: 100%;
  }

  .nav-icon {
    color: #eef518;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    position: absolute;
    right: 1%;
    top: 10%;
    transform: translate(-100%, 60%);
  }

  .nav-logo {
    display: block;
    position: absolute;
  }
}

.pBackground {
  /* border  forestgreen ferngreen green kellygreen seagreen shamrockgreen viridian*/
  background-color: #40826d;
  border: red 3px groove;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

#section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#section div {
  border: groove 0.5rem red;
  width: 100%;
}

#section-1 {
  background: whitesmoke;
  padding: 1rem;
  text-align: center;
}

#section-2 {
  background: #40826d;
  padding: 1rem;
  text-align: center;
}
