body {
  background: url('/public/questionMarkPortrait.png') no-repeat center fixed;
  background-size: 100% 100%;
  font-family: 'Yanone Kaffeesatz', serif, monospace;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.button {
  background: radial-gradient(#eef518, rgba(64, 130, 109, 1));
  border: indigo 3px groove;
  border-radius: 10px;
  color: indigo;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 12px red;
}

.button:hover {
  background: radial-gradient(#40826d, rgba(238, 245, 24, 1));
  border: red 3px groove;
  color: red;
}

.button:disabled {
  background-color: transparent;
  color: red;
}

.centered {
  color: indigo;
  text-align: center;
  text-shadow: 0 0 12px #eef518;
}

/* landing page */

#landingPageContainer {
  color: whitesmoke;
  position: relative;
  text-shadow: 2px 2px 2px #4b0082;
}

.landingPageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  width: 80%;
}

.landingPageImage {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

#landingPageButton {
  position: relative;
}

/* home page */

#homeContainer {
  color: whitesmoke;
  margin: 0 auto;
  padding-top: 5rem;
  width: 75vw;
}

#homeHeader1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px #4b0082;
}

#homeHeader2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px #4b0082;
}

#homeHeader3 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px #4b0082;
}

#gameHeader {
  color: whitesmoke;
  font-size: 5rem;
  text-shadow: 2px 2px 2px #4b0082;
}

#section {
  color: indigo;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  text-shadow: 0 0 12px #eef518;
}

#section div {
  border: groove 0.5rem red;
  flex: 1;
}

#section1 {
  background: radial-gradient(#40826d, rgba(238, 245, 24, 1));
  padding: 1rem;
  text-align: center;
}

#section2 {
  background: radial-gradient(#eef518, rgba(64, 130, 109, 1));
  padding: 1rem;
  text-align: center;
}

/* navbar */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  background: radial-gradient(#eef518, rgba(64, 130, 109, 1));
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  position: sticky;
  top: 0;
}

.navbarLogo {
  padding-left: 1em;
}

.navMenu {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  padding-right: 2rem;
}

.navLink {
  color: indigo;
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 0rem;
  transition: 0.3s ease-out;
}

.navLink:active {
  color: red;
}

.navLink:hover {
  color: red;
}

.navBurger {
  cursor: pointer;
  display: none;
  padding-right: 1.5em;
}

.barGroup:hover .bar {
  background-color: red;
}

.bar {
  background-color: indigo;
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  width: 25px;
  -webkit-transition: all 0.3s ease;
}

/* quiz */

.answerSpan {
  flex: 1;
  justify-content: 'center';
  align-items: 'center';
}

.gameCardContainer {
  overflow: auto;
  padding-bottom: 50px;
}

.score {
  font-size: 5rem;
}

.gameCardGrid {
  align-content: center;
  display: grid;
  grid-template-areas: 'answerOne';
  justify-content: space-around;
}

.gameCardGrid2 {
  align-content: center;
  display: grid;
  grid-template-areas: 'one';
  justify-content: center;
  margin: 10;
}

.pBackground {
  background: radial-gradient(#eef518, rgba(64, 130, 109, 1));
  border: red 3px groove;
  border-radius: 10px;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .navbar {
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .navBurger {
    display: block;
  }

  .navBurger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navBurger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navBurger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    background: radial-gradient(#eef518, rgba(64, 130, 109, 1));
    flex-direction: column;
    gap: 0;
    left: -120%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: fixed;
    text-align: center;
    top: 3rem;
    transition: 0.3s;
    width: 100%;
  }

  .navItem {
    margin: 0.5rem 0;
  }

  .navMenu.active {
    left: -5%;
  }
}

@media screen and (min-width: 768px) {
  .landingPageContainer {
    flex-direction: row;
    align-items: center;
  }

  .landingPageTextContainer {
    flex: 1;
    padding-right: 20px;
  }

  .landingPageImageContainer {
    flex: 1;
  }
}
